header {
  padding: 50 px;
  text-align: center;
  background: navy;
  color: white;
  font-size: 45px;
  height: 50px;
}

.search--bar {
  background-color: lightgrey;
  text-align: center;
  display:flex;
  left:42.5%;
  width: 350px;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th, td {
  width: 300px;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

thead {
  background-color: navy;
  color:white;
}

.pagination {
  position:fixed;
  left:42.5%;
}

.search--container {
  position: fixed;
  text-align: center;
  display:flex;
  left:40.5%;
  height: 40px;
}

