header {
  padding: 500 px;
  text-align: center;
  background: black;
  color: white;
  font-size: 30px;
}

.search {
  text-align: center;
  display:flex;
  left:42.5%;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th, td {
  width: 300px;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

.pagination {
  position:fixed;
  left:42.5%;
}


.form-control {
  text-align: center;
  position: fixed;
  display:flex;
  width:25%;
  height:2.5%;
}

.character-form {
  position: fixed;
  text-align: center;
  display:flex;
  left:37.5%;
}